#container {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    flex-wrap: wrap;
    width: 400px;
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
}

.btn {
    width: 100px;
    height: 100px;
    font-size: larger;
    font-weight: bold;
}

#display {
    width: 400px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#display-content {
    align-self: flex-end;
    font-size: larger;
    font-weight: bold;
    margin: 2px;
}